@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
.user-img img {
  border-radius: 100%;
  width: 500px;
  height: 300px; 
}
.contact-img img {
  border-radius: 100%;
  width: 150px;
  height: 150px; 
}
.call-btn {
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 20px;
}
.name {
  font-size: 2.2rem;
  font-weight: 900;
}

/* For small to medium */
@media screen and (max-width: 912px) {
  .nav {
    display: none;
  } 
  .user-img img {
    border-radius: 100%; 
    width: 250px;
    height: 250px;
  }
  .image {
    height: 60%;
  }
  .name {
    font-size: 1.5rem;
    width: 100%;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 6px;
  }
  .stack,.location {
    font-weight: 400;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .text {
    margin-top: -50%;
    height: 40%;
  }
  .hire-btn {
    display: flex;
    justify-content: center;
  }
  .call-btn {
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 20px;
  }
  .abt-Card p {
    font-size: 8px;
    line-height: 12px;
  }
  .abt-Card h4 {
    font-size: 14px;
    /* line-height: 12px; */
  }
  .skills {
    font-size: 10px;
  } 
  .contact p {
    font-size: 10px;
  }

}
/* for large */
@media  screen and (min-width: 1024px) and (max-width: 1030px) {
  .user-img img {
    border-radius: 80%;
    width: 24rem;
    height: 24rem; 
  }
  .box {
    width: 8rem;
    height: 7rem;
  }
  .text {
    padding: 20px;
  }
  .name {
    font-size: 1.5rem;
    padding: 5px 0px;
  }
  .stack, .location {
    font-size: 0.6rem;
  }
}
/* for xl */
@media screen and (min-width: 1030px) and (max-width: 1580px) {
  .user-img img {
    border-radius: 100%; 
    /* width: 400px;  */
    height: 500px; 
  }
  .box {
    width: 10rem;
    height: 8rem;
  }
  .text {
   font-size: 14px;
   padding: 40px;
  }
  .name {
    font-size: 1.8rem;
    padding: 5px 0px;
  }
  .stack, .location {
    font-size: 0.8rem;
  }
}

.card-1, .skill-rate {
	/* width: 300px;
	margin:15px 305px; */
	border-radius: 30px;
  background-color: rgba(70, 68, 70, 0.144);
	box-shadow: 1px 1px rgb(59, 59, 59);
	z-index: 1;
	opacity: 5;
	cursor: pointer;
}

.project {
  font-size: 10px;
}

